<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="dfb" class="com.nt.beans.DateFactorybean">
	<constructor-arg value="110"/>
	<constructor-arg value="10"/>
	<constructor-arg value="25"/>
	</bean>
	
	<bean id="reminder" class="com.nt.beans.ScheduleReminder">
	<property name="date" ref="dfb"/>
	</bean>


</beans>
