<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<bean id="tp" class="com.nt.beans.TourPlan">
	<property name="places">
		<list>
			<value>Delhi</value>
			<value>Bhopal</value>
			<value>Mumbai</value>
		</list>
	</property>
</bean>
<bean id="tp2" class="com.nt.beans.TourPlan">
	<property name="places">
		<list>
			<value>Goa</value>
			<value>Ooty</value>
			<value>Ujjain</value>
		</list>
	</property>
</bean>

<bean id="ta" class="com.nt.beans.TravelAgent" autowire="byType">
	<property name="tp" ref="tp2"></property>
<!-- 	<constructor-arg ref="tp2"/> -->
 </bean>

</beans>
